/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
footer {
    border-top: 1px solid #EEE;
    padding-top: 20px;
    margin-top: 20px;
}

footer li {
    display: inline-block;
    margin-right: 2em;
}

footer li.pull-right {
    margin-right: 0;
}

/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/

.navbar.navbar-fixed-left {
    position: fixed;
    left: 10px;
    bottom: 0;
    top: 90px;
    width: 200px;
}

.navbar.navbar-fixed-left a, .navbar.navbar-fixed-left .badge {
    font-size: 11px;
}

@media (max-width: 768px) {
    .navbar.navbar-fixed-left {
        visibility: hidden;
    }
    #content {
        margin-left: auto !important;
    }
}

/*@media (min-width: 768px) {*/
    /*#content {*/
        /*width: 750px;*/
    /*}*/
/*}*/

/*@media (min-width: 992px) {*/
    /*#content {*/
        /*width: 970px;*/
    /*}*/
/*}*/

/*@media (min-width: 1200px) {*/
    /*#content {*/
        /*width: 1170px;*/
    /*}*/
/*}*/
#content {
    max-width: 750px;
    margin-top: 20px;
    margin-left: 200px;
    padding: 20px;
}

article {
    margin: 0;
    word-wrap: break-word;
}

.list-group-item.active {
    background-color: #EEE;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post-images {
    text-align: center;
}

.post-images img {
    height: 100px;
}
