/*****************************************************************************/
/*
/* Main
/*
/*****************************************************************************/

article {
    margin: 0;
    word-wrap: break-word;
}

code {
    color: #254CC7;
    background-color: #F2F7F9;
}

blockquote {
    font-size: 14px;
}

.main-container {
    margin-top: 49px;
}

.main-content {
    margin-left: 190px;
    margin-right: 0;
    margin-top: 0;
    min-height: 100%;
}

.main-content.collapsed {
    margin-left: 40px;
}

.main-content>.page-content>.page-header>h1 {
    color: #045FB4;
    font-family: 'Gilda Display', serif;
}

.page-content {
    padding: 8px 20px 24px;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

.navbar-inverse {
    background-color: #438eb9;
    border: 0;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #FFF;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: rgb(111, 179, 224);
    color: #FFF;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer {
    padding: 8px 20px 24px;
    border-top: 1px solid #EEE;
    padding-top: 20px;
    margin-top: 20px;
}

.footer li {
    display: inline-block;
    margin-right: 2em;
}

.footer li.pull-right {
    margin-right: 0;
}

/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/

.sidebar {
    font-family: 'Open Sans', serif;
    width: 190px;
    float: left;
    position: relative;
    border: 1px solid #ccc;
    border-width: 0 1px 0 0;
    background-color: #f2f2f2;
    -webkit-transition: all .1s linear 0s;
    -moz-transition: all .1s linear 0s;
    -o-transition: all .1s linear 0s;
    -ms-transition: all .1s linear 0s;
    transition: all .1s linear 0s;
}

.sidebar:before {
    content: "";
    display: block;
    width: 190px;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: -1;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-width: 0 1px 0 0;
}

.sidebar .nav-list>li,
.sidebar>.sidebar-collapse.first {
    border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #e5e5e5;
}

.sidebar .nav-list>li>a {
    padding: 15px 15px 15px 45px;
    background-color: #f9f9f9;
    color: #585858;
}

.sidebar.collapsed .nav-list>li>a {
    padding: 18px 15px 18px 19px;
}


.sidebar .nav-list>li>a:hover,
.sidebar .nav-list>li.active>a {
    background-color: #FFF;
    color: #438eb9;
}

.sidebar .nav-list>li.active>a:before,
.sidebar .nav-list>li>a:hover:before {
    display: block;
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    background-color: #438eb9;
}

.sidebar-archive {
    font-size: 13px;
    color: #585858;
}

.sidebar-archive>li>a:hover {
    background-color: #FFF;
}

.sidebar-img {
    width: 30px;
    max-height: 30px;
    position: absolute;
    top: 3px;
    left: 7px;
}

/* SIDEBAR COLLAPSE */

.sidebar.collapsed,
.sidebar.collapsed:before {
    width: 40px;
}

.sidebar-collapse {
    height: 40px;
}

.sidebar>.sidebar-collapse>a {
    text-align: center;
    padding: 0;
    width: 36px;
    height: 28px;
    display: block;
    position: absolute;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 19px;
    color: #FFF;
    -webkit-transition: all .1s linear 0s;
    -moz-transition: all .1s linear 0s;
    -o-transition: all .1s linear 0s;
    -ms-transition: all .1s linear 0s;
    transition: all .1s linear 0s;
}

.sidebar>.sidebar-collapse>a.sidebar-collapse-left {
    background: rgb(111, 179, 224);
    right: -3px;
}

.sidebar>.sidebar-collapse>a.sidebar-collapse-left:hover {
    background: rgb(79, 153, 198);
    right: 0;
}

.sidebar>.sidebar-collapse>a.sidebar-collapse-right {
    background: rgb(111, 179, 224);
    right: 0;
}

.sidebar>.sidebar-collapse>a.sidebar-collapse-right:hover {
    background: rgb(79, 153, 198);
    right: -3px;
}

.sidebar.collapsed>.sidebar-archive>li>a .collapsed {
    display: none;
}

.sidebar.collapsed>.sidebar-archive>li>a:hover .collapsed {
    display: block;
    position: absolute;
    left: 39px;
    background-color: #FFF;
    border: 1px solid rgb(204, 204, 204);
    width: 160px;
    top: -2px;
    padding: 15px 15px 15px 16px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 1px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 1px 2px 0px;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 2px 1px 2px 0px;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 2px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 1px 2px 0px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post-images {
    text-align: center;
}

.post-images img {
    height: 100px;
}
