{{ $lang := .Site.Data.even.default -}}
<article class="post">
  <header class="post-header">
    {{ if .Params.imageUrl -}}
    <a class="post-image" href="{{ .URL }}" style="background-image: url('{{ .Params.imageUrl }}')">
      &nbsp;
    </a>
    {{- end }}
    <h1 class="post-title"><a class="post-link" href="{{ .URL }}">{{ .Title }}</a></h1>
    <div class="post-meta">
      <span class="post-time"> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} </span>
      {{ with .Params.categories -}}
        <div class="post-category">
          {{ range . }}
            <a href="{{ "categories" | relURL }}/{{ . | urlize }}/"> {{ . }} </a>
          {{ end }}
        </div>
      {{- end }}
      {{ if .Site.Params.moreMeta -}}
      <!-- <span class="more-meta"> {{ printf $lang.posts.header.wordCount .WordCount }} </span> -->
      <span class="more-meta"> {{ printf $lang.posts.header.readingTime .ReadingTime }} </span>
      {{- end }}
    </div>
  </header>
  <!-- Content -->
  <div class="post-content">
    <div class="post-summary">
      {{ .Summary }}
    </div>
  </div>
</article>
