<aside role="nav" class="navbar navbar-fixed-left">
    <ul class="list-group">
        {% comment %}Check if it is the home page {% endcomment %}
        {% assign isHomePage = false %}
        {% if site.name == page.title %}
        {% assign isHomePage = true %}
        {% endif %}

        {% for post in site.posts %}
        {% if page.title == post.title or isHomePage and forloop.index == 1 %}
        {% assign active = 'active' %}
        {% else %}
        {% assign active = '' %}
        {% endif %}

        {% include sidebar_item.html %}
        {% endfor %}
    </ul>
</aside>
