<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/vim.syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.flatly.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="/vendor/es5-shim/es5-shim.js"></script>
<script src="/vendor/json3/lib/json3.min.js"></script>
<![endif]-->

{% include header.html %}
<div id="main">
    {% include sidebar.html %}
    <article id="content">
        {{ content }}
        {% include footer.html %}
    </article>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
